<!DOCTYPE HTML>
<html>
<head>
    <title>KINT</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <noscript><link rel="stylesheet" href="../static/css/noscript.css" /></noscript>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- 차트 링크 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- 부트스트랩 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--chart.js Line graph CDN-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <!-- Google font: Gothic A1, font-family: 'Gothic A1', sans-serif;-->
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body class="is-preload" style="background-color: #F7F0ED">


<!-- Nav -->
<nav id="search_nav">
    <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/">Open API</a></li>
        <li><a href="/">Contact</a></li>
    </ul>

</nav>
<main  id="search_main">
    <!--Wrapper-->
    <div id="wrapper" style="max-width: calc(100% - 4em); width: 100%">

        <!-- Header -->
        <header id="header" style="padding: 2em 5em 1em 5em;">
            <h3 style="font: inherit; font-size: 1.5em">Search & Analysis</h3>
        </header>

        <!-- Search Bar Section-->
        <section id="search_sec">
            <div class="search-bar" style="text-align: center; margin-bottom: 50px;">
                <!--app.py와 데이터를 주고받기 위한 form-->
                <form action="/" method="post">

                    <div class="field-container" >
                        <!--Input Box-->
                        <input type="text" placeholder={{ term }} class="search_field" name="term" autocomplete="off"/>
                        <!--Search Icon-->
                        <div class="icons-container">
                            <input type="image" value="" onclick="" class="search-btn" src="../static/images/loupe.png" style="width: 26px;vertical-align: middle">
                        </div>
                    </div>

                    <div class="search_sub" id="keyword" style="margin: 0 auto">
                        <span>연관 키워드</span>
                        {%  for r in rel_term %} <!-- 집가서 꼭하기 -->
                            <!-- <input type="hidden" name="mon{{ r }}" value="{{ r }}"> -->
                            <input class="mon_bnt" type="submit" name="mon" value=#{{ r }}>
                        {%  endfor %}
                    </div>
                </form>
            </div>


        </section>


        <section id="result_sec">

            <!-- Results: 상단  -->
            <div id="main" style="width: 100%; position: relative;">

                <!--Example Sentence-->
                <div class="left_result" id="example_result" style="float: left; width: 65%">
                    <div style="width: 95%">
                        <span class="chart__title">Example Sentence</span>
                        <p class="chart__desc">신어가 사용되는 예시를 보여줍니다.</p>
                        <!--Positive & Negative index-->
                        <div style="float: left;position: relative;">
                            <p class="result_p">{{ sentence }}</p>
                        </div>
                    </div>
                </div>

                <!--Sentimental Analysis graph-->
                <div class="right_result" id="sentimental_result" style="float: left; width: 35%;">
                    <div class="charts">
                        <div class="chart chart--dev">
                            <span class="chart__title">Sentiment Analysis</span>
                            <p class="chart__desc">신어가 긍정/부정적으로 사용된 비율을 나타낸 그래프입니다.</p>
                            <!--Positive & Negative index-->
                            <div style="float: left;position: relative;">
                                <ul style=" list-style: none; padding-left: 0px;">
                                    <li style="padding-left: 0px;height: 30px; margin-bottom: 10px">
                                        <span class="result_span">Positive</span>
                                        <!--<span class="result_span" style="float: right">&nbsp;&nbsp;&nbsp;{{ sent1 }}</span>-->
                                    </li>
                                    <li style="padding-left: 0px;height: 30px; margin-bottom: 10px">
                                        <span class="result_span">Negative</span>
                                        <!--<span class="result_span" style="float: right">&nbsp;&nbsp;&nbsp;{{ sent2 }}</span>-->
                                    </li>
                                </ul>
                            </div>
                            <!--Positive & Negative graph-->
                            <ul class="chart--horiz">
                                <li class="chart__bar_pos" style="width: {{ sent1 }}; list-style: none">
                                    <span class="chart__label">{{ sent1 }}</span>
                                </li>
                                <li class="chart__bar_neg" style="width: {{ sent2 }}; list-style: none">
                                    <span class="chart__label">{{ sent2 }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Results: 하단 -->
            <div id="main" style="width: 100%; position: relative;">

                <!--Frequency & Rate Analysis-->
                <div class="left_result" id="freq_rate_result" style="float: left; width: 65%">

                    <span class="chart__title">Frequency Analysis</span>
                    <p class="chart__desc">최근 1년간 사용된 빈도수를 나타낸 그래프입니다.</p>
                    <!--Positive & Negative index-->
                    <div style="width:90%; position: relative">
                        <canvas id="canvas"></canvas>
                    </div>

                    <script>
                        var data = {{ dataDate|safe }};
                        var day = {{ labelDate|safe }};
                        new Chart(document.getElementById("canvas"), {
                            type: 'line',
                            data: {
                                labels: day,
                                datasets: [{
                                    label: "{{ term }} 전체 사용 빈도",
                                    data: data,
                                    borderColor: "rgb(11,93,93)",
                                    backgroundColor: "rgba(11,93,93, 0.5)",
                                    fill: true,
                                }]
                            },
                            options: {
                                legend: {
                                    display: true,
                                    labels: {
                                        display: true
                                    },
                                },
                                responsive: true,
                                title: {
                                    display: false,
                                    text: '분야별 {{ term }} 사용 빈도'
                                },
                                tooltips: {
                                    display: false,
                                    mode: 'index',
                                    intersect: false,
                                },
                                hover: {
                                    mode: 'nearest',
                                    intersect: true
                                },
                                scales: {
                                    // (세로 선)
                                    xAxes: [{
                                        display: true,
                                    }],
                                    // (가로 선)
                                    yAxes: [{
                                        display: true,
                                        ticks: {
                                            suggestedMin: 0,
                                        }
                                    }]
                                }
                            }
                        });

                    </script>


                </div>

                <!--Amudomolla graph-->
                <div class="right_result" id="Amudomolla_result" style="float: left; width: 35%">
                    <span class="chart__title">Percentage by Community</span>
                    <p class="chart__desc">커뮤니티, 뉴스별 사용 비율을 나타낸 그래프입니다.</p>
                    <!--Positive & Negative index-->
                    <div style="width:95%; position: relative;">
                        <canvas id="radar-chart" width="80%" height="80%"></canvas>
                    </div>

                    <script>
                        var community = {{ labelRef|safe }};
                        var data = {{ dataRef|safe }};

                        new Chart(document.getElementById("radar-chart"), {
                            type: 'radar',
                            data: {
                                labels: community,
                                datasets: [
                                    {
                                        data: data,
                                        fill: true,
                                        backgroundColor: "rgba(247,211,59,0.5)",
                                        borderColor: "rgb(247,211,59)",
                                        pointBorderColor: "#f7d33b",
                                        pointBackgroundColor: "rgb(247,211,59)"
                                    }
                                ]
                            },
                            options: {
                                maintainAspectRatio: true,
                                responsive: true,
                                title: {
                                    display: false,
                                    text: ''
                                },
                                legend: {
                                    labels: {
                                        fontSize: 20,
                                    },
                                    display: false,
                                    position: 'right'
                                },
                                hover: {
                                    mode: 'nearest',
                                    intersect: true
                                },
                                layout: {
                                    position: 'left'
                                },
                                scale: {
                                    ticks: {
                                        backdropColor: "rgba(222,222,222,0)",
                                        fontSize: 12,
                                    },
                                    pointLabels :{
                                        fontSize: 14,
                                        fontStyle: "bold",
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>

        </section>

    </div>
</main>

<!-- Scripts -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery.scrollex.min.js"></script>
<script src="../static/js/jquery.scrolly.min.js"></script>
<script src="../static/js/browser.min.js"></script>
<script src="../static/js/breakpoints.min.js"></script>
<script src="../static/js/util.js"></script>
<script src="../static/js/main.js"></script>

</body>
</html>
